@import "../../../../../Assets/styles/index.scss";

.tab-container {
    margin-bottom: 100px;
    width: 100%;

    .tab-header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .wrap-tab-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        margin-top: 10px;

        @include respond-beetwen(xs) {
            margin-left: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        @include respond-beetwen(sm) {
            margin-left: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        @include respond-beetwen(md) {
            margin-left: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: 90%;
        }

        @include respond-beetwen(lg) {
            margin-left: 0 !important;
            display: grid !important;
            grid-template-columns: repeat(4, 1fr) !important;
            // gap: 15px;
            width: 90% !important;
        }

        @include respond-beetwen(xl) {
            display: flex;
            flex-wrap: wrap;
            margin-left: 70px;
            margin-top: 10px;
        }
    }

    .tab-title {
        font-size: 48px;
        font-weight: 500;
        margin-top: 0;
    }

    ul {
        list-style-type: none;
    }

    .tab-button {
        position: relative;
        width: 180px;
        margin-right: 10px;
        padding: 8px 20px;
        background: #f6f6f8;
        border-radius: 50px;
        font-size: 16px;
        color: #222;
        cursor: pointer;

        &::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 30px;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            border-top: 1px solid #555;
            border-right: 1px solid #555;
            transform: rotate(45deg);
            content: "";
        }

        @include respond-beetwen(xs) {
            width: 100%;
            // margin: 0 2% 10px 0;
        }

        @include respond-beetwen(md) {
            width: 100%;
            // margin: 0 2% 10px 0;
        }
    }

    .tab-body {
        border: 1px solid #d2d2d2;

        .txt {
            display: flex;
            padding: 40px 70px;
            border-bottom: 1px solid #d2d2d2;

            h3 {
                font-size: 32px;
                font-weight: 500;
                color: #000;
                letter-spacing: -1.5px;
            }

            h3>span {
                display: block;
                font-size: 16px;
                font-weight: 400;
                color: #888;
                letter-spacing: 0;
            }

            p {
                width: 720px;
                margin: 5px 0 0 110px;
                font-size: 16px;
                line-height: 1.8;
                letter-spacing: -0.5px;
            }

            @include respond-beetwen(xs) {
                padding: 30px;
                flex-direction: column;
                align-items: flex-start;

                p {
                    margin: 15px 0 0 0;
                    width: 100%;
                }
            }

            @include respond-beetwen(sm) {
                padding: 30px;
                flex-direction: column;
                align-items: flex-start;

                p {
                    margin: 15px 0 0 0;
                    width: 100%;
                }
            }

            @include respond-beetwen(md) {
                padding: 30px;
                flex-direction: column;
                align-items: flex-start;

                p {
                    margin: 15px 0 0 0;
                    width: 100%;
                }
            }

            @include respond-beetwen(lg) {
                h3 {
                    font-size: 24px;
                    letter-spacing: -1.5px;
                }
            }
        }
    }

    .cont {
        position: relative;
        padding: 40px;
        display: flex;
        justify-content: space-between;

        .cont-list {
            display: flex;
            flex-direction: column;

            .tab-list-02 {
                position: relative;
                width: 260px;
                height: 220px;
                text-align: center;
                color: #fff;
                cursor: pointer;
                background: #07abc4;

                .ir {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 90%;
                    transform: translate(-50%, -50%);

                    &::before {
                        display: block;
                        content: "";
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                        background: url(../../../../../Assets/images//0301_ir.png) no-repeat;
                    }

                    strong {
                        display: block;
                        margin: 15px 0 5px 0;
                    }

                    span {
                        font-weight: 200;
                    }
                }

                .icn01::before {
                    background-position: 0 0;
                }

                &:last-child {
                    background: #044f90;
                }
            }

            @include respond-beetwen(xs) {
                flex-direction: row;
                // position: absolute;
                align-items: center;
                top: 10%;
                height: 60px;
                width: 100% !important;

                .tab-list-02 {
                    width: 100% !important;
                    height: 60px !important;

                    .ir {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        strong {
                            font-size: 16px;
                            margin: 0;
                        }

                        &::before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                    }
                }
            }

            @include respond-beetwen(sm) {
                flex-direction: row;
                align-items: center;
                height: 60px;
                width: 100% !important;

                .tab-list-02 {
                    width: 100% !important;
                    height: 60px !important;

                    .ir {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        strong {
                            font-size: 16px;
                            margin: 0;
                        }

                        &::before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                    }
                }
            }

            @include respond-beetwen(md) {
                flex-direction: row;
                align-items: center;
                height: 60px;
                width: 100% !important;

                .tab-list-02 {
                    width: 100% !important;
                    height: 60px !important;

                    .ir {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        strong {
                            font-size: 16px;
                            margin: 0;
                        }

                        &::before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                    }
                }
            }

            @include respond-beetwen(lg) {
                flex-direction: row;
                align-items: center;
                height: 60px;
                width: 100% !important;

                .tab-list-02 {
                    width: 100% !important;
                    height: 80px;

                    .ir {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        strong {
                            font-size: 16px;
                            margin: 0;
                        }

                        &::before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                    }
                }
            }
        }

        .wrap-items {
            position: relative;

            .swiper-button-next {
                background-color: #fff;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                margin-right: 30px;

                &::after {
                    color: #333;
                    font-size: 25px;
                }
            }

            .swiper-button-prev {
                background-color: #fff;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                margin-left: 30px;

                &::after {
                    color: #333;
                    font-size: 25px;
                }
            }

            .mySwiper {
                width: 860px;
                height: 440px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
        }

        @include respond-beetwen(xs) {
            padding: 30px;
            flex-direction: column;

            .wrap-items {
                width: 100%;

                .mySwiper {
                    width: 100% !important;
                    height: auto;
                }

                .swiper-button-next {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;

                    &::after {
                        font-size: 15px;
                    }
                }

                .swiper-button-prev {
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;

                    &::after {
                        font-size: 15px;
                    }
                }
            }
        }

        @include respond-beetwen(sm) {
            padding: 30px;
            flex-direction: column;

            .wrap-items {
                width: 100%;

                .mySwiper {
                    width: 100% !important;
                    height: auto;
                }

                .swiper-button-next {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;

                    &::after {
                        font-size: 15px;
                    }
                }

                .swiper-button-prev {
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;

                    &::after {
                        font-size: 15px;
                    }
                }
            }
        }

        @include respond-beetwen(md) {
            padding: 40px;
            flex-direction: column;

            .wrap-items {
                width: 100%;

                .mySwiper {
                    width: 100% !important;
                    height: auto;
                }
            }
        }

        @include respond-beetwen(lg) {
            padding: 40px;
            flex-direction: column;

            .wrap-items {
                width: 100%;
                margin-top: 10px;

                .mySwiper {
                    width: 100% !important;
                    height: auto;
                }
            }
        }
    }

    @include respond-beetwen(xs) {
        width: 90%;

        .tab-header {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @include respond-beetwen(sm) {
        width: 90%;

        .tab-header {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @include respond-beetwen(md) {
        width: 90%;
        margin-right: 10px;

        .tab-header {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @include respond-beetwen(lg) {
        width: 90%;
        margin-right: 10px;

        .tab-header {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.active-tab {
    background: #1061af !important;
    color: #fff !important;

    &::after {
        border-top: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
    }
}


.active-video{
    
}