/* Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-button {
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 15px 10px;
    border: none;
    text-align: left;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(105, 105, 105);
    p {
      font-weight: 900;
      flex-grow: 1;
      text-align: center;
    }
    .arrow {
      float: right;
      transition: ease-in-out 0.3s;
    }
    .arrow.down {
      transform: rotate(-180deg);
    }
  }
  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: ease-in-out 0.3s;
    max-height: 300px;
    overflow: scroll;

    li {
      padding: 0 10px;
      cursor: pointer;
      list-style: none;
      line-height: 46px;
      border-bottom: 1px dotted #a2a2a2;
      text-align: center;
      background-color: rgb(123, 123, 123);
      color: white;
    }
    li:hover {
      background-color: #575757;
    }
  }
}
