.error_container{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 30px;
  .error_image{
    display: flex;
    justify-content: center;
  }
  .error_message{
    text-align: center;
    font-size: 8vh;
    margin-top: 20px;
    font-weight: 900;
    color: #add9ff;
    text-shadow: 5px 5px 0px #4d7bbe;
  }
}