@import "../../../Assets/styles/index.scss";

.section_navigation-content {
  display: grid;
  width: 100%;
  margin-bottom: 70px;
  @include respond-beetwen(xs) {
    grid-template-columns: auto auto;
    row-gap: 5px;
  }
  @include respond-beetwen(sm) {
    grid-template-columns: auto auto;
    row-gap: 5px;
  }
  @include respond-beetwen(md) {
    grid-template-columns: auto auto;
    row-gap: 5px;
  }
  // @include respond-beetwen(lg) {
  //   grid-template-columns: auto auto auto auto;
  // }
  // @include respond-beetwen(xl) {
  //   grid-template-columns: auto auto auto auto;
  // }

  .section_navigation-item {
    text-align: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    position: relative;
    @include respond-beetwen(xs) {
      border: 1px solid #d8d9df;
      margin: 0 2.5px;
    }
    @include respond-beetwen(sm) {
      border: 1px solid #d8d9df;
      margin: 0 2.5px;
    }
    @include respond-beetwen(md) {
      border: 1px solid #d8d9df;
      margin: 0 2.5px;
    }
    .section_navigation-text {
      a {
        line-height: 44px;
        color: rgb(96, 98, 109);
        font-size: 15px;
        font-weight: 400;
        transition: ease-in-out 0.2s;
        @include respond-beetwen(lg) {
          font-size: 18px;
        }
        @include respond-beetwen(xl) {
          font-size: 18px;
        }
      }

      &:hover {
        a {
          color: #000;
        }
      }
    }

    @include respond-beetwen(lg) {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #f1f1f1;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    @include respond-beetwen(xl) {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #f1f1f1;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .active {
    @include respond-beetwen(xs) {
      background: #3c3c44;
    }
    @include respond-beetwen(sm) {
      background: #3c3c44;
    }
    @include respond-beetwen(md) {
      background: #3c3c44;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: scale-up 0.1s ease-in-out;
    }
    a {
      @include respond-beetwen(xs) {
        color: $white !important;
      }
      @include respond-beetwen(sm) {
        color: $white !important;
      }
      @include respond-beetwen(md) {
        color: $white !important;
      }
      @include respond-beetwen(lg) {
        color: black !important;
      }
      @include respond-beetwen(xl) {
        color: black !important;
      }
      font-weight: 800 !important;
    }
  }
}
.grid-template-columns-3 {
  grid-template-columns: auto auto auto;
  @include respond-beetwen(xs) {
    grid-template-columns: auto auto;
  }
  @include respond-beetwen(sm) {
    grid-template-columns: auto auto;
  }
}
.grid-template-columns-4 {
  grid-template-columns: auto auto auto auto;
  @include respond-beetwen(xs) {
    grid-template-columns: auto auto;
  }
  @include respond-beetwen(sm) {
    grid-template-columns: auto auto;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
