.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 60px auto 15px auto;

  .panigation__number {
    display: flex;
    gap: 10px;
    .pagination__number,
    .pagination__button {
      border: none;
      background-color: #fff;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border-radius: 50%;
      color: #767676;
      transition: ease-in-out 0.1s;
    }
    .pagination__button.next {
      border: 1px solid #ccc;
    }
    .pagination__button:disabled:hover {
      border: 1px solid #ccc;
    }

    .pagination__button:hover,
    .pagination__number:hover {
      border: 1px solid #81adf9;
    }
    .pagination__number.active {
      background-color: #555;
      color: #fff;
    }

    .pagination__button:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  .panigation__info {
    display: flex;
    gap: 20px;
    color: #767676;
    font-size: 14px;
    align-items: center;
    .panigation__per-page {
      select {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #767676;
      }
    }
  }
}
