@import "../../../../../../Assets//styles/index.scss";

.board_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include respond-beetwen(xs) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 4px;
    }

    @include respond-beetwen(sm) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 4px;
    }

    @include respond-beetwen(md) {
        width: 100%;
        justify-content: end;
    }

    @include respond-beetwen(lg) {
        width: 100%;
        justify-content: space-between;
    }

    .board_content_title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include respond-beetwen(xs) {
            overflow: hidden;
            opacity: 0;
        }

        @include respond-beetwen(sm) {
            display: none;
        }

        @include respond-beetwen(md) {
            display: none;
        }

        @include respond-beetwen(lg) {
            display: block;
            margin-left: 10px;
        }
    }

    .board_content_options {
        display: flex;

        @include respond-beetwen(xs) {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr;
            width: 100% !important;
        }

        @include respond-beetwen(sm) {
            display: grid !important;
            align-items: center;
            grid-template-columns: 1fr;
            width: 100% !important;
        }

        @include respond-beetwen(md) {
            display: flex;
        }

        .board_content_select {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 150px;
            border: 1px solid #ddd;
            background-color: #fff;
            box-sizing: border-box;
            & > div {
                width: 100%;
                & p {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            .dropdown {
                height: 40px;
                &-button {
                    height: 40px;
                    p {
                        padding-left: 0;
                        padding-right: 70px;
                    }
                }
            }

            @include respond-beetwen(xs) {
                width: 97%;
                margin-left: 5px;
                margin-bottom: 10px;

                .dropdown {
                    width: 100% !important;
                    &-button {
                        p {
                            padding-right: 80%;
                        }
                    }
                }

                .dropdown .dropdown-button {
                    background-color: #fff;
                    color: #313131;
                    border-bottom: none;
                }
            }

            @include respond-beetwen(sm) {
                width: 97% !important;
                margin-left: 5px;
                margin-bottom: 10px;

                .dropdown {
                    width: 100% !important;
                    &-button {
                        p {
                            padding-right: 80%;
                        }
                    }
                }

                .dropdown .dropdown-button {
                    background-color: #fff;
                    color: #313131;
                    border-bottom: none;
                }
            }

            @include respond-beetwen(md) {
                width: 150px;

                .dropdown {
                    width: 100% !important;
                }

                .dropdown .dropdown-button {
                    background-color: #fff;
                    color: #313131;
                    border-bottom: none;
                }
            }
        }

        .board_content_input {
            width: 353px;
            border: 1px solid #ddd;
            background-color: #fff;
            box-sizing: border-box;
            display: inline-block;
            margin-left: 5px;
            vertical-align: top;
            line-height: 38px;
            padding: 4px 10px;
            height: 45px;
            min-width: 40px;
            font-size: 1.1em;
            color: #666;

            &:focus {
                border: 2px solid #3f51b5;
                border-radius: 5px;
            }

            @include respond-beetwen(xs) {
                width: 97% !important;
                height: 50px;
                margin-bottom: 10px;
            }

            @include respond-beetwen(sm) {
                width: 97% !important;
                height: 50px;
                margin-bottom: 10px;
            }

            @include respond-beetwen(md) {
                width: 310px;
            }

            @include respond-beetwen(lg) {
                width: 353px;
            }
        }

        .board_content_submit {
            width: 109px;
            font-family: "Noto Sans KR";
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            background-color: #313131;
            border: 1px solid #313131;
            margin-left: 5px;

            @include respond-beetwen(xs) {
                width: 97% !important;
                height: 50px;
            }

            @include respond-beetwen(sm) {
                // margin-right: 5px;
                width: 97% !important;
                height: 50px;
            }

            @include respond-beetwen(md) {
                margin-right: 2px;
                width: 109px;
            }

            @include respond-beetwen(lg) {
                margin-right: 10px;
            }

            @include respond-beetwen(xl) {
                margin-right: 0px;
            }
        }
    }
}
