@import "../../../../Assets/styles/index.scss";

.board_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .section_header-content {
        max-width: 1240px;
    }
    .section_navigation-content {
        max-width: 1240px;
    }
    .board_content_children {
        margin-bottom: 30px;
        margin-left: 25px;
        margin-right: 25px;
        width: 100%;
    }
}
