@import "../../../../Assets/styles/index.scss";



.container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1240px;
    background: #fff;

    @include respond-beetwen(xs) {
        width: 90%;
    }

    @include respond-beetwen(sm) {
        width: 90%;
    }

    @include respond-beetwen(md) {
        max-width: 1240px;
        padding: 0 20px;
    }

    @include respond-beetwen(lg) {
        max-width: 1240px;
        padding: 0 20px;
    }

    @include respond-beetwen(xl) {
        max-width: 1240px;
    }
}