@import "../../../Assets/styles/index.scss";
@import "../../Common/SectionHeader/SectionHeader.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  width: 100vw;
  margin: 0 auto;
  .body__container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    @include respond-beetwen(xs) {
      width: 90%;
    }
    @include respond-beetwen(sm) {
      width: 90%;
    }
    @include respond-beetwen(md) {
      width: 90%;
    }
    @include respond-beetwen(lg) {
      width: 95%;
    }
    @include respond-beetwen(xl) {
      width: 100%;
    }
  }
}
